

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    text-align: center;
    margin:1px 10px;
    background-color: #EEEEEE;
    margin-left: 6%;
    width: 90%;  

}


section label, input{
    margin:1px 1px;
}
/* arama çubuğu  */
#gsearch{
    width: 300px;
}

/* kutular */
.box-1, .box-2, .box-3{
   float: left;
   width: 30%;
   margin: 1px;
   font-size: 14px;
   height: 74px;
    
}
.box-1{
    
    margin-left: 6%; 
    text-align: center;
    background-color: #7EE5DA;
    padding-bottom: 18px;
}

.box-2{
    text-align: center;
    background-color: #70CCC2;
    padding-bottom: 18px;
}

.box-3{
    text-align: center;
    padding-bottom: 18px;
    background-color: #62B3AA;
    
}

.box-style ul li{
    list-style-type: none;
   
}
/* son bölüm */
.footer{
    padding: 12px;
    clear: both;
}
